{% extends 'base.html' %}
{% load orders_filters %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<h2>Оформление заказа</h2>

<!-- Контейнер для карточек товаров -->
<div class="order-items-container">
    {% for item in cart_items %}
    <div class="order-item-card">
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="product-image">
        <div class="order-item-details">
            <h3 class="order-item-name">{{ item.product.name }}</h3>
            <p class="order-item-quantity">Количество: {{ item.quantity }}</p>
            <p class="order-item-price">Цена за единицу: {{ item.product.price }} руб.</p>
            <p class="order-item-sum">Сумма: {{ item.quantity|multiply:item.product.price }} руб.</p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Отображение общей суммы заказа -->
<p class="order-total">Итого: {{ total }} руб.</p>

<!-- Выбор адреса доставки -->
{% if addresses %}
    <h3>Выберите адрес доставки</h3>
    <form method="post" class="order-button-form">
        {% csrf_token %}
        <select name="delivery_address" required>
            {% for address in addresses %}
                <option value="{{ address.id }}">{{ address.formatted_address }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="confirm-button">Подтвердить заказ</button>
    </form>
{% else %}
    <p class="warning-message">У вас нет доступных адресов доставки. <a href="{% url 'add_address_page' %}">Добавить новый адрес</a>.</p>
{% endif %}

<!-- Кнопка отмены -->
<form action="{% url 'cart_detail' %}" method="get" class="order-button-form">
    <button type="submit" class="cancel-button">Отменить</button>
</form>

{% endblock %}
