{% extends 'base.html' %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<h2>Мои заказы</h2>

{% if orders %}
<table class="order-table">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата</th>
            <th>Общая сумма</th>
            <th>Статус</th>
            <th>Детали</th>
            <th>Действия</th>  <!-- Новый столбец для действий -->
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created_at|date:"d.m.Y H:i" }}</td>
            <td>{{ order.total }} руб.</td>
            <td>{{ order.get_status_display }}</td>
            <td><a href="{% url 'order_detail' order.id %}">Посмотреть</a></td>
            <td>
                {% if order.status == 'P' %}
                    <form action="{% url 'cancel_order' order.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="cancel-button">Отменить</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>У вас пока нет заказов.</p>
{% endif %}

{% endblock %}
