{% extends 'base.html' %}
{% load orders_filters %}

{% block title %}Детали заказа{% endblock %}

{% block content %}
<h2>Детали заказа</h2>

<!-- Информация об адресе доставки -->
<div class="delivery-address">
    <h3>Адрес доставки</h3>
    <p>{{ order.delivery_address.street }}, {{ order.delivery_address.house }}, {{ order.delivery_address.flat }}</p>
    <p>{{ order.delivery_address.city }}, {{ order.delivery_address.state }}, {{ order.delivery_address.postal_code }}</p>
    <p>{{ order.delivery_address.country }}</p>
</div>

<!-- Контейнер для карточек товаров -->
<div class="order-items-container">
    {% for item in order_products %}
    <div class="order-item-card">
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="product-image">
        <div class="order-item-details">
            <h3 class="order-item-name">{{ item.product.name }}</h3>
            <p class="order-item-quantity">Количество: {{ item.quantity }}</p>
            <p class="order-item-price">Цена за единицу: {{ item.product.price }} руб.</p>
            <p class="order-item-sum">Сумма: {{ item.quantity|multiply:item.product.price }} руб.</p>
        </div>
    </div>
    {% endfor %}
</div>

<p class="order-total">Итого: {{ total }} руб.</p>

<a href="{% url 'order_list' %}" class="confirm-button">Вернуться к заказам</a>

{% endblock %}
