{% extends 'base.html' %}

{% block title %}
{% if is_editing %}
    Редактировать отзыв
{% else %}
    Добавить отзыв
{% endif %}
{% endblock %}

{% block content %}
<h2>
{% if is_editing %}
    Редактировать отзыв для {{ product.name }}
{% else %}
    Добавить отзыв для {{ product.name }}
{% endif %}
</h2>
<form method="post">
    {% csrf_token %}
    <div class="rating">
        <label for="id_rating">Рейтинг:</label>
        <div class="star-rating">
            {% for i in "54321" %}
                <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" {% if form.rating.value|stringformat:"d" == i %}checked{% endif %}/>
                <label for="star{{ i }}" title="{{ i }} звёзд">
                    <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                    </svg>
                </label>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="id_comment">Комментарий:</label>
        {{ form.comment }}
    </div>
    <button type="submit">
    {% if is_editing %}
        Редактировать отзыв
    {% else %}
        Добавить отзыв
    {% endif %}
    </button>
</form>
{% endblock %}
